#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  background-image: url('https://res.cloudinary.com/dog9hy3gc/image/upload/v1695239247/buycard-app/fondo-buycard-inicio/polygon-scatter-haikei_5_cxf14e.svg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.titulo {
  font-size: 70px;
  font-family: 'Pacifico', cursive;
}
.nomcomida {
  font-size: xx-large;
  font-family: 'Quicksand', sans-serif;

}
.descp {
  text-align: start;
}

.contenedorMenu {
  padding: 5% 10%;
}